
@{
    ViewBag.Title = "Mantenimiento";
}

<h2>Mantenimiento</h2>

<div align="center">


    <div>
        <h2>Agregar Empleado</h2>

        <button class="btn btn-primary" onclick="location.href=('@Url.Action("Create","Empleados")')">Entrar</button>
    </div>

    <div>
        <h2>Agregar Departamento</h2>

        <button class="btn btn-success" onclick="location.href=('@Url.Action("Create","Departamentoes")')">Entrar</button>
    </div>

    <div>
        <h2>Agregar Cargo</h2>

        <button class="btn btn-info" onclick="location.href=('@Url.Action("Create","Cargos")')">Entrar</button>
    </div>

</div>
